@model IEnumerable<StudentCatalogFall2016.Models.Entity.StudentModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@if(Context.User.Identity.IsAuthenticated) { 
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}


@using(Html.BeginForm()) { 
    <input type="text" name="search" class="form-control" placeholder="Search..."/>
    <input type="submit" class="btn btn-default" value="Search for students..." />
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Firstname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lastname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MobilePhone)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Firstname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lastname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MobilePhone)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.StudentModelId }) |
            @Html.ActionLink("Details", "Details", new { id=item.StudentModelId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.StudentModelId })
        </td>
    </tr>
}

</table>
